/*========================== Fix ==========================*/

input {
  border: none;
  box-shadow: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
   box-shadow: none !important;
}
