/*========================== Fix ==========================*/

input {
  border: none;
  box-shadow: none !important;
}

textarea {
  border: none;
  box-shadow: none !important;
}

select {
    border: none;
  box-shadow: none !important;
}