@import url("./variables.scss");
@import url("./fonts.scss");
@import url("./fix.scss");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*========================== Default ==========================*/

body {
  color: var(--color-primary);
  font-family: var(--font-regular);
  font-size: var(--font-size-regular);
  min-height: 100vh;
}

/*========================== Font style ==========================*/

.text-bold {
  font-family: var(--font-bold);
}

.text-medium {
  font-family: var(--font-medium);
}

/*========================== Font size ==========================*/

.font-size-1 {
  font-size: var(--font-size-1);
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-3 {
  font-size: var(--font-size-3);
}

/*========================== Font color ==========================*/

.font-color-primary {
  color: var(--color-primary);
}
