@import url('./variables.scss');
@import url('./fonts.scss');
@import url('./fix.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*========================== Default ==========================*/

body {
  color: var(--color-primary);
  font-family: var(--custom-font-regular);
  min-height: 100vh;
}

/*========================== Font style ==========================*/

.custom-font-bold {
  font-family: var(--custom-font-bold);
}

.montserrat-extrabold {
  font-family: var(--montserrat-extrabold);
}

/*========================== Color ==========================*/

.custom-color-primary {
  color: var(--color-primary);
}

.custom-color-secondary {
  color: var(--color-secondary);
}

/*========================== Background color ==========================*/

.custom-bg-color-primary {
  background-color: var(--color-primary);
}