@import url('./variables.scss');
@import url('./fonts.scss');
@import url('./fix.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*========================== Default ==========================*/

body {
  color: var(--color-primary);
  font-family: var(--font-regular);
  min-height: 100vh;
}

/*========================== Font style ==========================*/

.custom-font-bold {
  font-family: var(--font-bold);
}

.montserrat-font-extrabold {
  font-family: var(--montserrat-extrabold);
}

/*========================== Color ==========================*/

.custom-color-primary {
  color: var(--color-primary);
}

/*========================== Background color ==========================*/

.custom-bg-color-primary {
  background-color: var(--color-primary);
}

/*========================== Scroll bar ==========================*/

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
