/*========================== Variables ==========================*/

:root {
  --color-primary: #1B1B1B; 
  --color-secondary: #7A7A7A; 

  --font-regular : 'Samsung Sharp Sans Regular';
  --font-medium : 'Samsung Sharp Sans Medium';
  --font-bold : 'Samsung Sharp Sans Bold';
  
  --montserrat-extrabold : 'Montserrat-ExtraBold';

}